@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    background-color: #eaeaea;
    padding:50px;
    font-family: 'Roboto', sans-serif;
    color:#000000;
    font-weight:400;
  }
  
code, pre {
    background-color: #ffffff;
    padding:50px;
    font-family: 'Roboto Mono', monospace;
    color:#000000;
    font-weight:400;
  }